<div class="container">
    <h3>
        <%=@article.title%>
    </h3>
    <%=@article.content%>
    <div>
        <%=link_to "Delete", @article, method: :delete%>
        <%=link_to "Edit", "#{@article.id}/edit"%>
    </div>
    <%=link_to "Back to index", "/"%>
</div>